In [7]:
import pandas as pd
from io import StringIO

# Sample data
data = """
,,Realized  ,,,Unrealized  ,,,
,Total Cost  ,Cost  ,Proceeds  ,Gain/Loss  ,Cost  ,Fair Value  ,Gain/Loss  ,Gross Distributed  
Vymo  ,"4,054,739  ",,,,"4,054,739  ",,,
Vymo Inc.  ,"7,762,810  ",,,,"7,762,810  ",,,
Zetwerk  ,"11,987,962  ",,,,"11,987,962  ",,,
"""

test_path = './output/SEQUOIA CAPITAL INDIA V - Q2 2023 - FS/SEQUOIA CAPITAL INDIA V - Q2 2023 - FS_12.csv'
# Read the data into a DataFrame
df = pd.read_csv(test_path)
df

,Unnamed: 0,Unnamed: 1,Realized,Unnamed: 3,Unnamed: 4,Unrealized,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Total Cost,Cost,Proceeds,Gain/Loss,Cost,Fair Value,Gain/Loss,Gross Distributed
1,Vymo,"4,054,739",NaN,NaN,NaN,"4,054,739",NaN,NaN,NaN
2,Vymo Inc.,"7,762,810",NaN,NaN,NaN,"7,762,810",NaN,NaN,NaN
3,Zetwerk,"11,987,962",NaN,NaN,NaN,"11,987,962",NaN,NaN,NaN
4,Subtotal Private Investments,"$ 639,889,286","$ 37,196,322","$ 113,050,825","$ 75,854,504","$ 602,692,964","$ 2,022,990,355","$ 1,420,297,391","$ 69,000,000"
5,Crypto Assets*:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,GGX,"350,000",NaN,NaN,NaN,"350,000",NaN,NaN,NaN
7,Subtotal Crypto Assets,"$ 350,000",$ -,$ -,$ -,"$ 350,000",$,$ -,$ -
8,Fully Realized:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Belong,"6,931,990","6,931,990",2,"(6,931,988)",NaN,NaN,NaN,NaN
10,Big Basket (from Daily Ninja),"1,861,099","1,861,099","2,129,182","268,082",NaN,NaN,NaN,NaN
11,CardUp,"2,413,610","2,413,610","6,573,852","4,160,242",NaN,NaN,NaN,NaN
12,Charlotte Tilbury (Matte Holdings),"22,804,069","22,804,069","52,201,431","29,397,363",NaN,NaN,NaN,NaN
13,Faces,"49,283,240","49,283,240","30,690,651","(18,592,589)",NaN,NaN,NaN,NaN
14,Farcast Biosciences (FKA Mitra Biotech),"15,991,900","15,991,900",NaN,"(15,991,900)",NaN,NaN,NaN,NaN
15,Ibahn Illumination (Svarochi),"5,738,874","5,738,874","3,038","(5,735,836)",NaN,NaN,NaN,NaN
16,MokaPOS,"7,526,142","7,526,142","22,108,426","14,582,284",NaN,NaN,NaN,NaN
17,Numberz,"2,829,320","2,829,320","2,523,680","(305,640)",NaN,NaN,NaN,NaN
18,Quickride,"4,689,493","4,689,493","1,801,278","(2,888,215)",NaN,NaN,NaN,NaN
19,Shuttl,"8,937,823","8,937,823","639,337","(8,298,486)",NaN,NaN,NaN,NaN
20,Spoyl,"2,878,773","2,878,773",1,"(2,878,772)",NaN,NaN,NaN,NaN
21,Thirty Two Lines (from Quikr),"9,233,853","9,233,853",94,"(9,233,759)",NaN,NaN,NaN,NaN
22,Tokopedia,"54,430,935","54,430,935","138,023,485","83,592,550",NaN,NaN,NaN,NaN
23,Tracxn,"1,166,352","1,166,352","1,530,913","364,561",NaN,NaN,NaN,"1,530,913"
24,Zefo,"9,885,760","9,885,760","9,233,853","(651,907)",NaN,NaN,NaN,NaN
25,Subtotal Fully Realized,"$ 206,603,232","$ 206,603,232","$ 267,459,222","$ 60,855,990",$ -,$ -,$ -,"$ 1,530,913"
26,Total Portfolio Investments,"$ 1,027,164,435","$ 253,954,441","$ 445,838,085","$ 191,883,644","$ 773,209,994","$ 2,526,593,635","$ 1,753,383,641","$ 110,000,000"

In [12]:
# Check if the first row contains more NaN values than expected
unnamed_mask = df.columns.str.contains('Unnamed:')
if sum(unnamed_mask) > df.shape[1] // 2:
    # Set the second row as the new header
    df.columns = df.iloc[0]
    # Drop the first two rows (misplaced header and actual header row)
    df = df.drop([0]).reset_index(drop=True)

df

,NaN,Total Cost,Cost,Proceeds,Gain/Loss,Cost,Fair Value,Gain/Loss,Gross Distributed
0,Vymo,"4,054,739",NaN,NaN,NaN,"4,054,739",NaN,NaN,NaN
1,Vymo Inc.,"7,762,810",NaN,NaN,NaN,"7,762,810",NaN,NaN,NaN
2,Zetwerk,"11,987,962",NaN,NaN,NaN,"11,987,962",NaN,NaN,NaN
3,Subtotal Private Investments,"$ 639,889,286","$ 37,196,322","$ 113,050,825","$ 75,854,504","$ 602,692,964","$ 2,022,990,355","$ 1,420,297,391","$ 69,000,000"
4,Crypto Assets*:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,GGX,"350,000",NaN,NaN,NaN,"350,000",NaN,NaN,NaN
6,Subtotal Crypto Assets,"$ 350,000",$ -,$ -,$ -,"$ 350,000",$,$ -,$ -
7,Fully Realized:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Belong,"6,931,990","6,931,990",2,"(6,931,988)",NaN,NaN,NaN,NaN
9,Big Basket (from Daily Ninja),"1,861,099","1,861,099","2,129,182","268,082",NaN,NaN,NaN,NaN
10,CardUp,"2,413,610","2,413,610","6,573,852","4,160,242",NaN,NaN,NaN,NaN
11,Charlotte Tilbury (Matte Holdings),"22,804,069","22,804,069","52,201,431","29,397,363",NaN,NaN,NaN,NaN
12,Faces,"49,283,240","49,283,240","30,690,651","(18,592,589)",NaN,NaN,NaN,NaN
13,Farcast Biosciences (FKA Mitra Biotech),"15,991,900","15,991,900",NaN,"(15,991,900)",NaN,NaN,NaN,NaN
14,Ibahn Illumination (Svarochi),"5,738,874","5,738,874","3,038","(5,735,836)",NaN,NaN,NaN,NaN
15,MokaPOS,"7,526,142","7,526,142","22,108,426","14,582,284",NaN,NaN,NaN,NaN
16,Numberz,"2,829,320","2,829,320","2,523,680","(305,640)",NaN,NaN,NaN,NaN
17,Quickride,"4,689,493","4,689,493","1,801,278","(2,888,215)",NaN,NaN,NaN,NaN
18,Shuttl,"8,937,823","8,937,823","639,337","(8,298,486)",NaN,NaN,NaN,NaN
19,Spoyl,"2,878,773","2,878,773",1,"(2,878,772)",NaN,NaN,NaN,NaN
20,Thirty Two Lines (from Quikr),"9,233,853","9,233,853",94,"(9,233,759)",NaN,NaN,NaN,NaN
21,Tokopedia,"54,430,935","54,430,935","138,023,485","83,592,550",NaN,NaN,NaN,NaN
22,Tracxn,"1,166,352","1,166,352","1,530,913","364,561",NaN,NaN,NaN,"1,530,913"
23,Zefo,"9,885,760","9,885,760","9,233,853","(651,907)",NaN,NaN,NaN,NaN
24,Subtotal Fully Realized,"$ 206,603,232","$ 206,603,232","$ 267,459,222","$ 60,855,990",$ -,$ -,$ -,"$ 1,530,913"
25,Total Portfolio Investments,"$ 1,027,164,435","$ 253,954,441","$ 445,838,085","$ 191,883,644","$ 773,209,994","$ 2,526,593,635","$ 1,753,383,641","$ 110,000,000"